@CHARSET "UTF-8"; 
*{
            padding:0;
            margin:0 auto;
        }
        /*首页顶部top_up开始*/
        .top_up{
            width:1300px;
            height:25px;
            background-color:#F2F2F2;
            color:#999999;
            font-size:14px;
        }
        .top_up_left{
            width:700px;
            height:25px;
            float:left;
        }
        .top_up_left ul{
            list-style: none;
            margin-left:30px;
        }
        .top_up_left ul li{
            height:25px;
            line-height:25px;
            float:left;
            margin-left:20px;
        }
        .top_up_left_image{
            float:left;
            width:25px;
            height:25px;
        }
        .top_up_left_text{
            float:left;
        }
        .top_up_left_text a{
            text-decoration: none;
            color:#999999;
        }
        .top_up_right{
            width:600px;
            height:25px;
            float:right;
        }
        .top_up_right ul{
            list-style: none;
        }
        .top_up_right ul li{
            height:25px;
            line-height:25px;
            float:left;
            margin-left:20px;
        }
        /*首页顶部top_up结束*/
        /*首页顶部top_middle开始*/
        .top_middle_1{
            width:1300px;
            height:80px;
        }
        .top_middle_1_in_1{
            width:180px;
            height:50px;
            float:left;
            margin-left:40px;
            margin-top:10px;
        }
        .top_middle_1_in_2{
            width:140px;
            height:40px;
            float:left;
            margin-top:20px;
            border-left:1px solid #F0F0F0;
            border-right:1px dashed #F0F0F0;
        }
        .top_middle_1_in_2_up{
            font-size:10px;
            font-weight: bold;
            margin-left:10px;
        }
        .top_middle_1_in_2_under{
            margin-left:10px;
        }
        .top_middle_1_in_3{
            width:120px;
            height:50px;
            float:left;
            margin-top:10px;
        }
        .top_middle_1_in_4{
            width:60px;
            height:40px;
            float:left;
            margin-top:20px;
            border-left:1px solid #F0F0F0;
        }
        .top_middle_1_in_4_up{
            font-size:12px;
            color:#999999;
            margin-left:10px;
        }
        .top_middle_1_in_4_under{
            margin-left:10px;
        }
        .top_middle_1_in_5{
            width:600px;
            height:80px;
            float:right;
        }
        .sy_sousuo{
            margin-top:20px;
            width:400px;
            height:30px;
            border:3px solid #FF0036;
            float:left;
            margin-left:30px;
        }
        .sy_button{
            margin-top:20px;
            width:80px;
            height:36px;
            line-height:36px;
            text-align: center;
            background-color:#FF0036;
            color:white;
            font-size:16px;
            float:left;
        }
        .top_middle_2{
            width:1300px;
            height:122px;
            border-top:1px solid #C8BAAA;
            border-bottom:1px solid #D5D5D5;
        }
        .top_middle_2_in_1{
            margin-top:40px;
            margin-left:40px;
            width:200px;
            height:60px;
            float:left;
        }
        .top_middle_2_in_1 a{
            text-decoration:none;
            color:#2C2C2C;
            font-weight:bold;
        }
        .top_middle_2_in_2{
            margin-left:300px;
            margin-top:40px;
            width:200px;
            height:60px;
            float:left;
        }
        .top_middle_2_in_3{
            float:right;
            margin-right:40px;
            margin-top:20px;
        }
        .top_middle_2_in_3_left{
            float:left;
        }
        .top_middle_2_in_3_right{
            float:right;
            margin-top:10px;
            color:#5D5D5D;
            font-weight:bold;
            font-size:14px;
        }
        /*首页top_middle结束*/