@CHARSET "UTF-8";
*{
            padding:0;
            margin:0 auto;
        }
        /*首页顶部top_up开始*/
        .top_up{
            width:1300px;
            height:25px;
            background-color:#F2F2F2;
            color:#999999;
            font-size:14px;
        }
        .top_up_left{
            width:700px;
            height:25px;
            float:left;
        }
        .top_up_left ul{
            list-style: none;
            margin-left:30px;
        }
        .top_up_left ul li{
            height:25px;
            line-height:25px;
            float:left;
            margin-left:20px;
        }
        .top_up_left_image{
            float:left;
            width:25px;
            height:25px;
        }
        .top_up_left_text{
            float:left;
        }
        .top_up_left_text a{
            text-decoration: none;
            color:#999999;
        }
        .top_up_right{
            width:600px;
            height:25px;
            float:right;
        }
        .top_up_right ul{
            list-style: none;
        }
        .top_up_right ul li{
            height:25px;
            line-height:25px;
            float:left;
            margin-left:20px;
        }
        /*首页顶部top_up结束*/
        /*首页顶部top_middle开始*/
        .top_middle_1{
            width:1300px;
            height:80px;
        }
        .top_middle_1_in_1{
            width:180px;
            height:50px;
            float:left;
            margin-left:40px;
            margin-top:10px;
        }
        .top_middle_1_in_2{
            width:140px;
            height:40px;
            float:left;
            margin-top:20px;
            border-left:1px solid #F0F0F0;
            border-right:1px dashed #F0F0F0;
        }
        .top_middle_1_in_2_up{
            font-size:10px;
            font-weight: bold;
            margin-left:10px;
        }
        .top_middle_1_in_2_under{
            margin-left:10px;
        }
        .top_middle_1_in_3{
            width:120px;
            height:50px;
            float:left;
            margin-top:10px;
        }
        .top_middle_1_in_4{
            width:60px;
            height:40px;
            float:left;
            margin-top:20px;
            border-left:1px solid #F0F0F0;
        }
        .top_middle_1_in_4_up{
            font-size:12px;
            color:#999999;
            margin-left:10px;
        }
        .top_middle_1_in_4_under{
            margin-left:10px;
        }
        .top_middle_1_in_5{
            width:600px;
            height:80px;
            float:right;
        }
        .sy_sousuo{
            margin-top:20px;
            width:400px;
            height:30px;
            border:3px solid #FF0036;
            float:left;
            margin-left:30px;
        }
        .sy_button{
            margin-top:20px;
            width:80px;
            height:36px;
            line-height:36px;
            text-align: center;
            background-color:#FF0036;
            color:white;
            font-size:16px;
            float:left;
        }
        .top_middle_2{
            width:1300px;
            height:122px;
            border-top:1px solid #C8BAAA;
            border-bottom:1px solid #D5D5D5;
        }
        .top_middle_2_in_1{
            margin-top:40px;
            margin-left:40px;
            width:200px;
            height:60px;
            float:left;
        }
        .top_middle_2_in_1 a{
            text-decoration:none;
            color:#2C2C2C;
            font-weight:bold;
        }
        .top_middle_2_in_2{
            margin-left:300px;
            margin-top:40px;
            width:200px;
            height:60px;
            float:left;
        }
        .top_middle_2_in_3{
            float:right;
            margin-right:40px;
            margin-top:20px;
        }
        .top_middle_2_in_3_left{
            float:left;
        }
        .top_middle_2_in_3_right{
            float:right;
            margin-top:10px;
            color:#5D5D5D;
            font-weight:bold;
            font-size:14px;
        }
        /*首页top_middle结束*/
        /*首页top_bottom开始*/
        .top_bottom{
            width:1300px;
            height:50px;
            line-height:50px;
        }
        .top_bottom ul{
            list-style:none;
            width:1300px;
        }
        .top_bottom ul li{
            float:left;
            margin-left:50px;
        }
        .top_bottom a{
            text-decoration: none;
            color:black;
        }
        .top_bottom_xf{
            left:0;
            top:279px;
            width:1301px;
            height:300px;
            background:#F5F5F5;
            margin-top:0;
            margin-left:109px;
            position:absolute;
            z-index:3;
            display:none;
            text-align:center;
        }
        .top_bottom_xf a{
            text-decoration:none;
        }
        .top_bottom_xf_in_first{
            width:200px;
            height:240px;
            margin-top:30px;
            float:left;
            margin-left:100px;
        }
        .top_bottom_xf_in{
            width:200px;
            height:240px;
            margin-top:30px;
            float:left;
            margin-left:20px;
        }
        .top_bottom_xf .top_text{
            color:#4E4E4E;
            font-size:18px;
            font-family:微软雅黑;
            font-weight:bold;
        }
        .top_bottom_xf .img{
            margin-top:10px;
            margin-bottom:10px;
        }
        .top_bottom_xf .bottom_text{
            color:#6E6E6E;
        }
        .top_bottom_xf .top_bottom_xf_in_second{
            width:200px;
            height:240px;
            margin-top:30px;
            float:left;
            margin-left:200px;
        }
        /*首页top_bottom结束*/
        /*首页middle开始*/
        .middle{
            width:1300px;
        }
        .middle_in1{
            width:1300px;
            height:512px;
        }
        .middle .ad{
            width:1300px;
            height:500px;
        }
        .middle_in2{
            width:1300px;
            height:650px;
            background:#AE0323;
        }
        .middle_in2_ck{
            width:1300px;
            height:100px;
            background:#AE0323;
        }
        .middle_in2_up{
            width:1300px;
            height:100px;
            background:#AE0323;
            color:#DDBF89;
            font-size:50px;
            font-weight:bolder;
            text-align:center;
        }
        .middle_in2_under{
            width:1300px;
            height:400px;
        }
        .middle_in2_under_1{
            float:left;
            margin-left:140px;
        }
        .middle_in2_under_2{
            float:left;
            margin-left:10px;
        }
        .middle_in2_under_3{
            float:left;
            margin-left:10px;
        }
        .middle_in2_under_4{
            float:left;
            margin-left:10px;
        }
        .middle_in3{
            width:1300px;
            height:900px;
            background:#EFEFEF;
        }
        .middle_in3_ck{
            width:1300px;
            height:100px;
            background:#EFEFEF;
        }
        .middle_in3_up{
            width:1300px;
            height:100px;
            background:#EFEFEF;
            color:#A38851;
            font-size:50px;
            font-weight:bolder;
            text-align:center;
        }
        .middle_in3_under{
            width:1300px;
            height:800px;
            text-align: center;
        }
        .middle_in4{
            width:1300px;
            height:2150px;
            background:#AE0323 ;
        }
        .middle_in4_ck{
            width:1300px;
            height:100px;
            background:#AE0323;
        }
        .middle_in4_up{
            width:1300px;
            height:100px;
            background:#AE0323;
            color:#DDBF89;
            font-size:50px;
            font-weight:bolder;
            text-align:center;
        }
        .middle_in4_under{
            width:1300px;
            height:1950px;
            text-align:center;
        }
        .middle_in4_under_2{
            margin-top:20px;
        }
        .middle_in4_under_3{
            margin-top:20px;
        }
        .middle_in5{
            width:1300px;
            height:1600px;
            background:#EFEFEF;
        }
        .middle_in5_ck{
            width:1300px;
            height:100px;
            background:#EFEFEF;
        }
        .middle_in5_up{
            width:1300px;
            height:100px;
            background:#EFEFEF;
            color:#A38851;
            font-size:50px;
            font-weight:bolder;
            text-align:center;
        }
        .middle_in5_under{
            width:1300px;
            height:1400px;
            text-align: center;
        }
        .middle_in5_under_2{
            margin-top:30px;
        }
        .middle_in5_under_3{
            margin-top:30px;
        }
        .middle_in6{
            width:1300px;
            height:650px;
            background:#AE0323 ;
        }
        .middle_in6_ck{
            width:1300px;
            height:100px;
            background:#AE0323;
        }
        .middle_in6_up{
            width:1300px;
            height:100px;
            background:#AE0323;
            color:#DDBF89;
            font-size:50px;
            font-weight:bolder;
            text-align:center;
        }
        .middle_in6_under{
            width:1300px;
            height:400px;
        }
        .middle_in6_under_left{
            float:left;
            margin-left:200px;
        }
        .middle_in6_under_right{
            float:right;
            margin-right:200px;
        }
        .middle_in7{
            width:1300px;
            height:500px;
            background:#FFFFFF;
            border-bottom:2px solid #D1D7DC;
        }
        .middle_in7_ck{
            width:1300px;
            height:50px;
            background:#FFFFFF;
        }
        .middle_in7_in{
            width:1300px;
            height:450px;
            text-align: center;
        }
        /*首页middle结束*/